*.vsidx
CoffeeBuyerService/.vs/CoffeeBuyerService/FileContentIndex/read.lock
CoffeeBuyerService/.vs/CoffeeBuyerService/v17/.suo
CoffeeBuyerService/Application/bin/Debug/net6.0/Application.deps.json
CoffeeBuyerService/Application/bin/
CoffeeBuyerService/Application/obj/
CoffeeBuyerService/CoffeeBuyerService/obj/
CoffeeBuyerService/Domain/bin/
CoffeeBuyerService/Domain/obj/
CoffeeBuyerService/infrustructure/bin/
CoffeeBuyerService/infrustructure/obj/
CoffeeBuyerService/Presentation/bin/
CoffeeBuyerService/Presentation/obj/
CoffeeHouseService/.vs/
CoffeeHouseService/Application/bin/
CoffeeHouseService/Application/obj/
CoffeeHouseService/CoffeeHouseService/obj/
CoffeeHouseService/Domain/bin/
CoffeeHouseService/Domain/obj/
CoffeeHouseService/Infrustructure/bin/
CoffeeHouseService/Infrustructure/obj/
CoffeeHouseService/Presentation/bin/
CoffeeHouseService/Presentation/obj/
